.container {
  max-width: 1120px;
  margin: 0 auto 5rem;
  padding: 0 2rem;
}

.icon {
  margin-right: 8px;
}

.exitPreview {
  background-color: var(--gray-900);
  color: var(--gray-100);
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 4rem;

  &:hover {
    color: var(--pink);
  }
}