.bannerImg {
  margin-top: 2.5rem;
  width: 100%;
  object-fit: contain;
}

.post {
  max-width: 700px;
  margin: 4rem auto 0
}

.postTitle {
  color: var(--gray-100);
  font-weight: 700;
  font-size: 3rem;
}

.dateAuthorAndReadTime {
  color: var(--gray-500);
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  font-size: 1rem;
  display: flex;

  .author {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.contentTitle {
  color: var(--gray-100);
  font-size: 2rem;
}

.contentBody {
  color: var(--gray-300);
  text-align: justify;
  font-size: 1.125rem;
  margin: 2rem 0 2rem;
  line-height: 1.5rem;

  p, ul {
    margin: 1.5rem 0;
  }

  ul {
    padding-left: 1.5rem;

    li {
      margin: 0.5rem 0;
    }
  }
}