.bannerImg {
  margin-top: 2.5rem;
  width: 100%;
  object-fit: contain;
}

.post {
  max-width: 700px;
  margin: 4rem auto 0
}

.postTitle {
  color: var(--gray-100);
  font-weight: 700;
  font-size: 3rem;
}

.dateAuthorAndReadTime {
  color: var(--gray-500);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  display: flex;

  .author {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.editionPostData {
  margin-bottom: 3.75rem;
  font-style: italic;
  font-weight: 400;
  font-size: 0.875;
  color: var(--gray-500);
}

.postContent {
  padding-bottom: 2.25rem;
  border-bottom: 1px solid var(--gray-500);
}

.contentTitle {
  color: var(--gray-100);
  font-size: 2rem;
}

.contentBody {
  color: var(--gray-300);
  text-align: justify;
  font-size: 1.125rem;
  margin: 2rem 0 2rem;
  line-height: 1.5rem;

  p, ul {
    margin: 1.5rem 0;
  }

  ul {
    padding-left: 1.5rem;

    li {
      margin: 0.5rem 0;
    }
  }
}

.previousAndNextPosts {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 5rem;
  justify-content: space-between;

  .otherPostTitle {
    font-weight: 400;
    font-size: 1.125rem;
    color: var(--gray-100);
  }

  .otherPost {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1rem;
    color: var(--pink);
  }
}

.loading {
  color: var(--gray-100);
  font-weight: 700;
  font-size: 3rem;
  /* https://stackoverflow.com/questions/14123999/center-a-div-horizontally-and-vertically */
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}