.headerContainer {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem; /* in case of screen with less than 1120px */
}

.headerContent {
    max-width: 700px;
    margin: 2.5rem auto 0;
    cursor: pointer;
}