.headerContainer {
    height: 5rem;
}

.headerContent {
    margin: 0 auto; /* align horizontally */
    max-width: 1120px;
    padding: 0 2rem; /* in case of screen with less than 1120px */

    img {
        margin-top: 40px;
    }
}